<!-- 共通部分の設定 -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href = "static/style/style.css" rel = "stylesheet" type = "text/css">
        <link rel="icon" type="image/png" href="./img/favicon.png">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block title %}{% endblock %}
    </head>
    <body>
        <div>
            <!-- header-->
            <!--<header>ヘッダー</header>-->

            <header> <h1>Daily Life is a Game <br><small>-日常生活を取り戻すタスクアプリ-</small></h1> </header>

            <!-- ナビ -->
            <body data-spy="scroll" data-target="#navbar">
                <!--<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom">-->
                <!--<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">-->
                <nav class="navbar navbar-expand-sm navbar-dark bg-info fixed-top">

                    <a class="navbar-brand" href="/">
                        <!--DLG-->
                        <div class="logo">
                            <img class="logo" src="static/img/logo_3.png" alt="logo">
                        </div>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav mr-auto">
                            <!-- ログインしてない場合 -->
                            {% if not session.logged_in %}
                            <li class="nav-item  active">
                                <a class="nav-link" href="./">LOGIN</a>
                            </li>
                            {% else %}
                            <li class="nav-item  active">
                                <a class="nav-link" href="./taskm.html">TASK</a>
                            </li>

                            <li class="nav-item  active">
                                <a class="nav-link" href="./graph.html">GRAPH</a>
                            </li>

                            <li class="nav-item  active">
                                <a class="nav-link" href="./">MYPAGE</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            <!-- /ナビ -->

            <!-- /header -->

            {% for message in get_flashed_messages() %}
            <div class="elem_4 message" id="flash">
                {{ message }} <!-- flashの内容を表示 -->
            </div>
            {% endfor %}

        </div>
    {% block body %}
    {% endblock %}
    </body>
</html>