<!-- このページがログインページ -->
{% extends "layout.html" %}
{% block title %}
<title>login | daily life is a game</title>
<meta name="description" content="ログインページ">
{% endblock %}
{% block body %}
    <div class="login_form">
        <form action="{{ url_for('login') }}" method=post>
            <div class="login">
                <label for="InputTitle">User name</label>
                <div class="right_side">
                    <input type="text" id="InputTitle" name="username" required>
                </div>
            </div>

            <div class="login">
                <label for="InputPassword">Password</label>
                <div class="right_side">
                    <input type="password" class="right_side" id="InputPassword" name="password" required>
                </div>
            </div>

            <button type="submit" class="btn_pink">Login</button>
        </form>

        <form action="{{ url_for('signin') }}" method=post>
            <button type="submit" class="btn_pink">Sign in</button>
        </form>
    </div>
{% endblock %}