<!-- このページが新しいパスワードを入力するページ -->
{% extends "layout.html" %}
{% block title %}
<title>password reset | daily life is a game</title>
<meta name="description" content="パスワード更新ページ">
{% endblock %}
{% block body %}
    <div class="login_form">
        <form action="{{ url_for('passwordchange') }}" method=post>
            <div class="login">
                <label for="InputTitle">New password</label>
                <div class="right_side">
                    <input type="password" id="InputTitle" name="password" required>
                </div>
            </div>

            <div class="login">
                <label for="InputTitle">Again</label>
                <div class="right_side">
                    <input type="password" id="InputTitle" name="password_again" required>
                </div>
            </div>

            <button type="submit" class="btn_pink">Reset</button>
        </form>
    </div>
{% endblock %}