<!-- このページがサインインページ -->
{% extends "layout.html" %}
{% block title %}
<title>signin | daily life is a game</title>
{% endblock %}
{% block body %}
    <div class="login_form">
        <form action="{{ url_for('signin') }}" method=post>
            <div class="login">

                <label for="InputTitle">New user name</label>

                <div class="right_side">
                    <input type="text" id="InputTitle" name="newusername">
                </div>
            </div>

            <div class="login">
                <label for="InputPassword">New password</label>

                <div class="right_side">
                    <input type="password" id="InputPassword" name="newpassword">
                </div>
            </div>

            <!-- これはなんですか... -->
            <!-- これは即席メアド欄です。。！　ごめんちゃい-->
            <div class="login">
                <label for="InputPassword">Your Email</label>
                <div class="right_side">
                    <input type="email" id="InputPassword" name="email">
                </div>
            </div>
            <!-- /これはなんですか... -->
            <button type="submit" class="btn_pink_2">Sign in</button>
        </form>
    </div>
{% endblock %}

