<!-- このページがサインインページ -->
{% extends "layout.html" %}
{% block title %}
<title>signin | daily life is a game</title>
{% endblock %}
{% block body %}
    <div>
        <form action="{{ url_for('signin') }}" method=post>
            <div>
                <label for="InputTitle">New User Name</label>
                <input type="text" id="InputTitle" name="newusername">
            </div>

            <div>
                <label for="InputPassword">New Password</label>
                <input type="password" id="InputPassword" name="newpassword">
            </div>

            <button type="submit">Sign In</button>
        </form>
    </div>
{% endblock %}