<!-- このページがサインインページ -->
{% extends "layout.html" %}
{% block title %}
<title>addtask | daily life is a game</title>
{% endblock %}
{% block body %}
    <div class="login_form">
        <form action="{{ url_for('addtask') }}" method=post>
            <div class="login">

                <label for="InputTitle">TASK内容</label>

                <div class="right_side">
                    <input type="text" id="InputTask" name="newtask">
                </div>
            </div>

            <div class="login">
                <label for="InputPassword">重要度 1~20</label>

                <div class="right_side">
                    <input type="number" id="InputPoint" name="newpoint" min=1 max=20>
                </div>
            </div>

            <!-- これはなんですか... -->
            <div class="login">
                <label for="InputPassword">時間帯</label>
                <div class="right_side">
                    <input type="radio" name="selecttime" value="m">morning
                    <input type="radio" name="selecttime" value="d">working
                    <input type="radio" name="selecttime" value="n">night
                </div>
            </div>
            <!-- /これはなんですか... -->

            <button type="submit" class="btn_pink">Add</button>
        </form>
    </div>
{% endblock %}

