<!-- このページがサインインページ -->
{% extends "layout.html" %}
{% block title %}
<title>addtask | daily life is a game</title>
{% endblock %}
{% block body %}
    <div class="login_form">
        <form action="{{ url_for('addtask') }}" method=post>
            <div class="login">

                <label for="InputTitle">TASK内容</label>

                <div class="right_side">
                    <input type="text" id="InputTask" name="newtask">
                </div>
            </div>

            <div class="login">
                <label>重要度 1~20</label>

                <div class="right_side">
                    <input type="number" id="InputPoint" name="newpoint" min=1 max=20>
                </div>
            </div>



            <div class="login">
                <label>時間帯</label>
                <div class="right_side radiobox">
                    <input id="radio1" class="radio_btn"  type="radio" name="selecttime" value="m" required>
                    <label for="radio1">Morning</label>
                    
                    <input id="radio2" class="radio_btn"  type="radio" name="selecttime" value="d">
                    <label for="radio2">Working</label>
                    
                    <input id="radio3" class="radio_btn"  type="radio" name="selecttime" value="n">
                    <label for="radio3">Night</label>

                </div>
            </div>
            
            <button type="submit" class="btn_pink_2">Add task</button>
        </div>
        </form>

            <div class="login_form">
            <a class="nav-link" href="./taskm.html"><button type="submit" class="btn_pink_6">Back to task</button></a>
            </div>

    </div>




{% endblock %}

