<!-- このページがログイン後のユーザーページ -->
{% extends "layout.html" %}
{% block title %}
<title>Task | daily life is a game</title>
{% endblock %}
{% block body %}
  <div class="container">

<div class="row">
    <div class="col-sm elem_2">
      <!--<h2 id="line">Morning</h2>-->
      <a href="{{ url_for('signin') }}">Morning</a>
    </div>

    <div class="col-sm elem_2">
      <!--<h2 id="line">Working</h2>-->
      <a href="{{ url_for('signin') }}">Working</a>
    </div>

    <div class="col-sm elem_2 ">
      <!--<h2 id="line">Night</h2>-->
      <a href="{{ url_for('signin') }}">Night</a>
    </div>

</div>


    <!-- タスク -->
    {% for task in tasks %}
      <div class="row elem_1">

        <div class="col-4 icon_s">
          <img src="static/img/test.png" alt="task icon">
        </div>      
        <div class="col-8">
          <form action="{{ url_for('task_done') }}" method="post">
            <input type="text" onClick="this.form.submit();" name="task" value="タスク内容識別" readonly style="display: none;">
            <span>{{task}}</span>
          </form>
        </div>
      


        <!--<div class="col-2">
          <p>point</p>
        </div>-->
      </div>
    {% endfor %}
    <!-- /タスク -->


    <!-- タスク追加 -->
    <div class="icon_s_add">
      <!--<h2 id="line">Night</h2>-->
      <a href="{{ url_for('signin') }}" ><img class="logo" src="static/img/add_icon.png" alt="logo"></a>
    </div>
    <!-- /タスク追加 -->

  </div>
{% endblock %}