<!-- このページがログイン後のユーザーページ -->
{% extends "layout.html" %}
{% block title %}
<title>Task | daily life is a game</title>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="elem_2">
      <h2 id="line">Morning</h2>
    </div>

    <!-- タスク -->
    {% for key in tasks  %}
      <div class="row elem_1">

        <div class="col-4 icon_s">
          <img src="static/img/test.png" alt="task icon">
        </div>      
        <div class="col-8">
          <form action="{{ url_for('task_done') }}" method="post">
            <div style="display: grid;grid-template-columns: 4fr 1fr;">
              {% if tasks[key][1] == 1 %}
              <div>
                <input type="text" class="tasks" name="task" value="{{ key }}" readonly style="display: none;">
                <span>{{tasks[key][0]}}</span><br><br>
                <button type="submit" class="nohover_btn_pink_2" style="cursor: default" disabled><strong> ☑ FIN </strong></button>
              </div>
              <div style="position: relative;color: rgba(255, 31, 113);">
                <Strong>{{tasks[key][2][0]}}点</Strong><!-- 朝 0 昼 1 夜 2-->
              </div>
              {% else %}
              <div>
                <input type="text" class="tasks" name="task" value="{{ key }}" readonly style="display: none;">
                <span>{{tasks[key][0]}}</span><br><br>
                <button type="submit" class="btn_pink_2">task done</button>
              </div>
              <div style="position: relative;">
                <Strong>{{tasks[key][2][0]}}点</Strong><!-- 朝 0 昼 1 夜 2-->
              </div>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    {% endfor %}
    <!-- /タスク -->
  </div>
{% endblock %}