<!-- このページがログイン後のユーザーページ -->
{% extends "layout.html" %}
{% block title %}
<title>User | daily life is a game</title>
{% endblock %}
{% block body %}
    <div class="elem_3">
        <dl class="login">
            <dt>User name</dt>
            <dd><span id="line">{{ user_name }}</span></dd>
            <!--<dt>User ID</dt>
            <dd>{{ user_id }}</dd>-->


        </dl>
    </div>
    <div class="login_form">
        <form action="{{ url_for('logout') }}" method=get>
            <button type="submit" class="btn_pink_2">Logout</button>
        </form>
    </div>
    <br>
{% endblock %}