<!-- このページがログイン後のユーザーページ -->
{% extends "layout.html" %}
{% block title %}
<title>User | daily life is a game</title>
{% endblock %}
{% block body %}
    <div class="elem_3">
        <dl class="login">
            <dt>User name</dt>
            <dd><span>{{ user_name }}</span></dd>
            <!--<dt>User ID</dt>
            <dd>{{ user_id }}</dd>-->


        </dl>
    </div>



    <!--<div class="elem_3">
      <a class="nav-link" href="./task.html">TASK</a>
    </div>

    <div class="elem_3">
      <a class="nav-link" href="./graph.html">GRAPH</a>
    </div>-->

    <div class="row user_btn">
        <div class="col-sm">
            <div class="login_form">          
                    <a class="nav-link" href="./taskm.html"><button type="submit" class="btn_pink_4">Task</button></a>
            </div>
        </div>

        <div class="col-sm">
            <div class="login_form">            
                <a class="nav-link" href="./graph.html"><button type="submit" class="btn_pink_4">Graph</button></a>
            </div>
        </div>

        <div class="col-sm">
            <div class="login_form">
                <form action="{{ url_for('logout') }}" method=get>
                    <a class="nav-link"><button type="submit" class="btn_pink_5">Logout</button></a>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="icon_s">
            <img src="static/img/task_done_2.png" alt="task icon">
            <div class="balloon1-left">
                <p>Task done... (タスク丼)</p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}