body{
    padding-top: 100px;
}

/* タスク */
.elem{
    margin-top: 5%;
}

.elme p {
    margin: 0; 
    padding: 0;
    overflow-wrap: break-word;
}

/* 付箋 */
.elem_1{
    margin-top: 5%;

    padding: 1em 1em;
    margin: 2em 0;
    background: rgb(227, 244, 249);
    border-left: solid 60px rgb(89, 192, 220);
    box-shadow: 6px 6px #78a0b7;

    overflow-wrap: break-word;
}

/* 付箋 */
.elem_2{
    text-align: center;
    max-width: 220px;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 1%;
    padding: 1em 1em;
    /* margin: 2em 0; */
    background: rgb(227, 244, 249);
    border-left: solid 60px rgb(89, 192, 220);
    box-shadow: 6px 6px #78a0b7;
}

/* 中央寄せ付箋(user name) */
.elem_3{
    text-align: center;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    /* width: 400px; */
    padding: 1em 1em;
    background: rgb(227, 244, 249);
    border-left: solid 60px rgb(89, 192, 220);
    box-shadow: 6px 6px #78a0b7;
}


/* 中央寄せ付箋(user name) */
.elem_4{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 30%;
    margin-left: 30%;
    /* width: 400px; */
    padding: 1em 1em;
    background: rgb(227, 244, 249);
    border-left: solid 60px rgb(89, 192, 220);
    box-shadow: 6px 6px #78a0b7;
}








h1{
    color: rgb(89, 192, 220);
    text-align: center;
}

/* h2{

} */

p{
    overflow-wrap: break-word;
}


.nav-item > a:hover{
    background:linear-gradient(transparent 80%, rgb(255, 255, 255) 10%);
}


.elem_2 > a{
    /* color:rgb(54,145,169); */
    color: black;
    font-size: 30px;
    vertical-align: text-bottom;
}



.elem_2 > a:hover{
    color: black;
    font-size: 30px;
    background:linear-gradient(transparent 60%, #f6c 60%);
    text-decoration: none;
}

.elem_3 > a{
    /* color:rgb(54,145,169); */
    color: black;
    font-size: 20px;
    vertical-align: text-bottom;
    margin-right: 50px;
}



.elem_3 > a:hover{
    color: black;
    font-size: 20px;
    background:linear-gradient(transparent 60%, #f6c 60%);
    text-decoration: none;
}



.elem_4 > a{
    /* color:rgb(54,145,169); */
    color: black;
    font-size: 20px;
}


.elem_4 > a:hover{
    color: black;
    font-size: 20px;
    background:linear-gradient(transparent 60%, #f6c 60%);
    text-decoration: none;
}



/* タスクアイコンのサイズ調整 */
.icon_s img{
    max-width: 40%;
    min-width: 80px;
    /* text-align:center;  */
}



/* タスクアイコンのサイズ調整 */
.icon_s_add img{
    max-width: 40%;
    min-width: 80px;
    margin-bottom: 50%;
    margin-right: 20%;
    text-align:center; 
}

.icon_s_add{
    margin-top: 10%;
    margin-left:80%;
}



.logo{
    width: 50px;
}




.note {
    background-color: #fff; /* 背景色 */
    background-image: linear-gradient(180deg, #ccc 1px, transparent 1px); /* 罫線の色と太さ */
    background-size: 100% 2.5em; /* 行の高さ */
    line-height: 2.5em; /* 文字の高さ */
    padding-bottom: 1px; /* 最終行の下にも罫線を引く */
    margin: 5%;
  }



/* ログイン画面の装飾 */
.login{
    margin: 2%;
}


.login_form{
    text-align: center;
    margin-top: 3%;
}



.login label{
    /* color: rgba(255, 31, 113); */
    color: rgba(89, 192, 220);
    font-size: 25px;
}

.login dt{
    /* color: rgba(255, 31, 113); */
    /* color: rgba(89, 192, 220); */
    margin-right: 16%;
    margin-left: 10%;
    font-size: 30px;
}


.login dd{
    /* color: rgba(255, 31, 113); */
    /* color: rgba(89, 192, 220); */
    font-size: 30px;
    margin-bottom: 5%;
    margin-right: 16%;
    margin-left: 10%;
}


#line{
    background:linear-gradient(transparent 60%, #f6c 60%);
}


.login input[type="text"] {
    /* font: 20px/24px sans-serif; */
    /* color: rgba(255, 31, 113); */
    color: rgba(89, 192, 220);
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    transition: 0.3s;
    letter-spacing: 1px;  
    border-width: thick;
    border-style: solid;
    border-color:  rgba(191, 191, 191);
}

.login input[type="text"]:focus {
    border-width: thick;
    border-style: solid;
    /* border-color: rgba(255, 31, 113); */
    border-color: rgba(89, 192, 220);
    outline: none;
}

.login input[type="password"] {
    /* font: 20px/24px sans-serif; */
    /* color: rgba(255, 31, 113); */
    color: rgba(89, 192, 220);
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    transition: 0.3s;
    letter-spacing: 1px;  
    border-width: thick;
    border-style: solid;
    border-color:  rgba(191, 191, 191);
}

.login input[type="password"]:focus {
    border-width: thick;
    border-style: solid;
    /* border-color: rgba(255, 31, 113); */
    border-color: rgba(89, 192, 220);
    outline: none;
}


.login input[type="email"] {
    /* font: 20px/24px sans-serif; */
    /* color: rgba(255, 31, 113); */
    color: rgba(89, 192, 220);
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    transition: 0.3s;
    letter-spacing: 1px;  
    border-width: thick;
    border-style: solid;
    border-color:  rgba(191, 191, 191);
}

.login input[type="email"]:focus {
    border-width: thick;
    border-style: solid;
    /* border-color: rgba(255, 31, 113); */
    border-color: rgba(89, 192, 220);
    outline: none;
}


.btn_pink {
    /* display       : inline-block; */
    /* font-size     : 20pt;    */
    margin-top: 1%;
    margin: 2%;
    /* margin-left: 110%; */
    text-align    : center;
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 10px;
    background    : rgb(255, 255, 255);
    /* color         : rgba(255, 31, 113); */
    color: rgba(89, 192, 220);
    width: 100px;
    transition: 0.3s;
    border-width: thick;
    border-style: solid;
    /* border-color: rgba(255, 31, 113); */
    border-color: rgba(89, 192, 220);
  }


.btn_pink:hover {
color         : rgba(255, 255, 255);
/* background    : rgba(255, 31, 113);  */
background    : rgba(89, 192, 220); 
}


.btn_pink_2 {
    /* display       : inline-block; */
    text-align    : center;
    /* font-size     : 20pt;    */
    margin: 2%;
    margin-top: 1%;
    /* margin-left: 110%; */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 10px;
    background    : rgb(255, 255, 255);
    /* color         : rgba(255, 31, 113); */
    color: rgba(89, 192, 220);
    width: 200px;
    transition: 0.3s;
    border-width: thick;
    border-style: solid;
    /* border-color: rgba(255, 31, 113); */
    border-color: rgba(89, 192, 220);
  }


.btn_pink_2:hover {
color         : rgba(255, 255, 255);
/* background    : rgba(255, 31, 113);  */
background    : rgba(89, 192, 220); 
}



.btn_pink_3 {
    text-align    : center;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-right: 50%;
    margin-left: 0;
    cursor        : pointer;
    padding       : 12px 50px;
    background    : rgb(227, 244, 249);
    width: 580px;
    transition: 0.3s;
    border-width: thick;
    border-style: solid;
    border-color: rgba(227, 244, 249);
  }


.btn_pink_3:hover {
background    : rgba(227, 244, 249); 
}

.nohover_btn_pink_2 {
    /* display       : inline-block; */
    text-align    : center;
    /* font-size     : 20pt;    */
    margin: 2%;
    margin-top: 1%;
    /* margin-left: 110%; */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 10px;
    /* background    : rgb(255, 255, 255); */
    color         : rgba(255, 31, 113);
    /* color: rgba(89, 192, 220); */
    width: 200px;
    transition: 0.3s;
    border-width: 4px;
    border-style: solid;
    /* border-radius: 50%; */
    border-color: rgba(255, 31, 113);
    /* border-color: rgba(89, 192, 220); */
    /* border-color: rgba(227, 244, 249); */
  }


  .btn_pink_4 {
    /* display       : inline-block; */
    text-align    : center;
    /* font-size     : 20pt;    */
    margin: 2%;
    margin-top: 1%;
    /* margin-left: 110%; */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 10px;
    background    : rgb(255, 255, 255);
    /* color         : rgba(255, 31, 113); */
    color: rgba(89, 192, 220);
    width: 100%;
    transition: 0.3s;
    border-width: thick;
    border-style: solid;
    /* border-color: rgba(255, 31, 113); */
    border-color: rgba(89, 192, 220);
  }


.btn_pink_4:hover {
color         : rgba(255, 255, 255);
/* background    : rgba(255, 31, 113);  */
background    : rgba(89, 192, 220); 
}

.btn_pink_5 {
    /* display       : inline-block; */
    text-align    : center;
    /* font-size     : 20pt;    */
    margin: 2%;
    margin-top: 1%;
    /* margin-left: 110%; */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 10px;
    background    : rgb(255, 255, 255);
    /* color         : rgba(255, 31, 113); */
    color: rgba(191, 191, 191);
    width: 100%;
    transition: 0.3s;
    border-width: thick;
    border-style: solid;
    /* border-color: rgba(255, 31, 113); */
    border-color: rgba(191, 191, 191);
  }


.btn_pink_5:hover {
color         : rgba(255, 255, 255);
/* background    : rgba(255, 31, 113);  */
background    : rgba(191, 191, 191); 
}

.right_side{
    margin-left: 0;
}


.message{
    padding-right: 5%;
}


.elem_2 > .now_here{
    color: black;
    font-size: 30px;
    background:linear-gradient(transparent 60%, #f6c 60%);
    text-decoration: none;
}
.user_btn{
    margin-top: 3%;
    margin-right: 20%;
    margin-left: 20%;



.p_col_b{
    margin-top: 5%;
    margin-left: 80px;
    text-align: center;
    color: rgba(89, 192, 220);
