<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="utf-8">
  <title>タスク</title>
  <meta name="description" content="ディスクリプションを入力">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <!----- header----->
  <header>Graph</header>
  <!----- /header ----->

  <!----- main ----->
  <h1>タイトル</h1>
  <h2>見出し２</h2>
  <p>コンテンツの内容</p>
  <!----- /main ----->

  <!----- footer ----->
  <footer>
    <ul style="list-style-type: none;">
      <li><a href="./task.html">タスク</a></li>
      <li><a href="./graph.html">グラフ</a></li>
      <li><a href="./login.html">ログイン</a></li>
    </ul>
  </footer>
  <!----- /footer ----->
  </body>
</html>